@import "tailwindcss";

@theme {
    /* --color-background: #e1e1e1;
    --color-font: #0d121d;
    --color-font-highlight: #06080c;
    --color-background-contrast: #151414;
    --color-font-contrast-title: #dedada;
    --color-font-contrast-text: #a9a7a7;
    --primary-color: #2563eb; */
    --color-background: #080d17;
    --color-font: #ededed;
    --color-font-highlight: #747171;
    --color-background-contrast: #e2e2e2;
    --color-font-contrast-title: #0d0e12;
    --color-font-contrast-text: #575759;
    --primary-color: #60a5fa;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #080d17;
        --color-font: #ededed;
        --color-font-highlight: #747171;
        --color-background-contrast: #e2e2e2;
        --color-font-contrast-title: #0d0e12;
        --color-font-contrast-text: #575759;
        --primary-color: #60a5fa;
    }
}

/* Scroll animations */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(-30px);
  transition:
    opacity 0.7s ease, transform 0.7s ease;
  will-change: opacity, transform;
  transition-delay: 0.2s;
}

.animate-on-scroll.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.animate-on-scroll-fast {
  transition: opacity 0.7s ease, transform 0.7s ease;
  transition-delay: 0s;
}

/* Tooltip */
.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -50px; /* Aparece abajo del ícono */
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-font-highlight);
  color: var(--color-font);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  font-size: 0.90rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 10;
}

.tooltip:hover::after,
.tooltip:focus::after {
  opacity: 1;
  visibility: visible; /* ahora sí se muestra */
  transform: translateX(-50%) translateY(-0.25rem);
}