---
import ExperienceSection from '../components/ExperienceSection.astro';
import PresentationSection from '../components/PresentationSection.astro';
import ProjectSection from '../components/ProjectSection.astro';
import SkillsSection from '../components/SkillsSection.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
	<section class="animate-on-scroll">
    	<PresentationSection />
	</section>

	<section class="animate-on-scroll">
		<ProjectSection />
	</section>

	<section class="animate-on-scroll">
		<ExperienceSection />
	</section>

	<section class="animate-on-scroll">
		<SkillsSection />
	</section>
</MainLayout>