---
import SkillsSection from "../components/SkillsSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <section class="animate-on-scroll">
        <SkillsSection />
    </section>
</MainLayout>