---
import "../styles/global.css";
---

<!-- EXPERIENCE -->
<div class="flex flex-col gap-7 lg:gap-10">
	<div class="text-5xl text-center sm:text-7xl lg:text-8xl lg:text-start">
		<h2 class="font-bold">
			WORK <br /> 
			<span class="text-font-highlight">EXPERIENCE</span>
		</h2>
	</div>
	<div class="flex flex-col gap-8">
		<div class="flex flex-col gap-3 sm:px-5">
			<p class="font-semibold text-lg sm:text-xl">Backend Developer - Softtek (Pacífico Seguros)</p>
			<p>Developed high-concurrency reactive microservices using Spring WebFlux, following non-blocking architecture principles. Implemented unit and integration tests, performed load testing with k6, and monitored JVM performance.</p>
			<p>Nov 2025 - Present</p>
		</div>
        
		<div class="flex flex-col gap-3 sm:px-5">
			<p class="font-semibold text-lg sm:text-xl">Data Quality Analyst - Softtek (BBVA Perú)</p>
			<p>Analyzed and validated production data using PySpark across multiple data sources. Implemented data quality rules, generated tdata, and ensured compliance with defined metrics.</p>
			<p>Jun 2025 - Nov 2025</p>
		</div>
		
		<div class="flex flex-col gap-3 sm:px-5">
			<p class="font-semibold text-lg sm:text-xl">IT Intern - NAS Consulting</p>
			<p>Migrated and developed Oracle Forms (6i and 12c) and maintained PL/SQL procedures, functions, and queries to support internal businprocesses.</p>
			<p>Jun 2023 - Mar 2024</p>
		</div>
	</div>
</div>