---
import { Icon } from "astro-icon/components";
---

<nav class="flex gap-5 absolute top-8 left-2/4 px-5 py-2 bg-font-contrast-text rounded-xl -translate-x-1/2">
    <a href="/" class="flex">
        <Icon name="mdi:home" class="text-3xl"/>
    </a>
    <a href="/projects" class="flex">
        <Icon name="mdi:folder" class="text-3xl"/>
    </a>
    <a href="/experience" class="flex">
        <Icon name="mdi:work" class="text-3xl"/>
    </a>
    <a href="/skills" class="flex">
        <Icon name="mdi:tools" class="text-3xl"/>
    </a>
</nav>