---
import { Image } from 'astro:assets';
import "../styles/global.css";
---

<!-- SKILLS -->
<div class="flex flex-col gap-7 lg:gap-10">
	<div class="text-5xl text-center sm:text-7xl lg:text-8xl lg:text-start">
		<h2 class="font-bold">TECHNICAL</h2>
		<span class="font-bold text-font-highlight">SKILLS</span>
	</div>
	
	<div class="grid gap-y-8 sm:grid-cols-2">
		<div class="px-5 flex flex-row gap-3">
			<div class="w-16 h-16 bg-background-contrast rounded-xl flex items-center justify-center">
				<Image src="https://images.icon-icons.com/2415/PNG/512/java_original_logo_icon_146458.png" alt="java icon" width={40} height={40}>
			</div>
			<div class="flex flex-col justify-center">
				<p class="font-semibold text-lg">Java</p>
				<p class="text-sm">Programming Language</p>
			</div>
		</div>
		<div class="px-5 flex flex-row gap-3">
			<div class="w-16 h-16 bg-background-contrast rounded-xl flex items-center justify-center">
				<Image src="https://images.icon-icons.com/3915/PNG/512/springboot_logo_icon_249540.png" alt="spring boot icon" width={40} height={40}>
			</div>
			<div class="flex flex-col justify-center">
				<p class="font-semibold text-lg">Spring boot</p>
				<p class="text-sm">Java Framework</p>
			</div>
		</div>
		<div class="px-5 flex flex-row gap-3">
			<div class="w-16 h-16 bg-background-contrast rounded-xl flex items-center justify-center">
				<Image src="https://images.icon-icons.com/2699/PNG/512/angular_logo_icon_169595.png" alt="angular icon" width={40} height={40}>
			</div>
			<div class="flex flex-col justify-center">
				<p class="font-semibold text-lg">Angular</p>
				<p class="text-sm">Web Framework</p>
			</div>
		</div>
		<div class="px-5 flex flex-row gap-3">
			<div class="w-16 h-16 bg-background-contrast rounded-xl flex items-center justify-center">
				<Image src="https://images.icon-icons.com/2148/PNG/512/nextjs_icon_132160.png" alt="nextjs icon" width={40} height={40}>
			</div>
			<div class="flex flex-col justify-center">
				<p class="font-semibold text-lg">Nextjs</p>
				<p class="text-sm">Web Framework</p>
			</div>
		</div>
		<div class="px-5 flex flex-row gap-3">
			<div class="w-16 h-16 bg-background-contrast rounded-xl flex items-center justify-center">
				<Image src="https://images.icon-icons.com/2699/PNG/512/python_logo_icon_168886.png" alt="python icon" width={40} height={40}>
			</div>
			<div class="flex flex-col justify-center">
				<p class="font-semibold text-lg">Python</p>
				<p class="text-sm">Programming Language</p>
			</div>
		</div>
		<div class="px-5 flex flex-row gap-3">
			<div class="w-16 h-16 bg-background-contrast rounded-xl flex items-center justify-center">
				<Image src="https://images.icon-icons.com/2415/PNG/512/mysql_original_wordmark_logo_icon_146417.png" alt="mysql icon" width={40} height={40}>
			</div>
			<div class="flex flex-col justify-center">
				<p class="font-semibold text-lg">MySQL</p>
				<p class="text-sm">Database</p>
			</div>
		</div>
		<div class="px-5 flex flex-row gap-3">
			<div class="w-16 h-16 bg-background-contrast rounded-xl flex items-center justify-center">
				<Image src="https://images.icon-icons.com/2415/PNG/512/git_original_logo_icon_146509.png" alt="git icon" width={40} height={40}/>
			</div>
			<div class="flex flex-col justify-center">
				<p class="font-semibold text-lg">Git</p>
				<p class="text-sm">Version Control</p>
			</div>
		</div>
		<div class="px-5 flex flex-row gap-3">
			<div class="w-16 h-16 bg-background-contrast rounded-xl flex items-center justify-center">
				<Image src="https://images.icon-icons.com/2407/PNG/512/aws_icon_146074.png" alt="aws icon" width={40} height={40}>
			</div>
			<div class="flex flex-col justify-center">
				<p class="font-semibold text-lg">AWS</p>
				<p class="text-sm">Cloud Service</p>
			</div>
		</div>						
	</div>
</div>