---
import "../styles/global.css";
import ProjectSection from './ProjectSection.astro';
import ExperienceSection from './ExperienceSection.astro';
import SkillsSection from './SkillsSection.astro';
import PresentationSection from "./PresentationSection.astro";
---

<main class="pt-30">
	<div class="flex flex-row gap-20 w-min m-auto">
		<!-- CARD -->
		<div class="w-xs p-7 h-min top-10 sticky rounded-xl bg-background-contrast flex flex-col gap-5 text-center">
			<div class="bg-amber-800 w-50 h-58 rounded-xl m-auto">
			</div>
			<h2 class="text-font-contrast-title text-2xl">Sergio Guanilo</h2>
			<p class="text-font-contrast-text">Bachelor's degree in Software Engineering from Universidad Peruana de Ciencias Aplicadas (UPC).</p>
		</div>
		<!-- RIGHT -->
		<div class="flex flex-col gap-16 w-xl">
			<PresentationSection />
			<ProjectSection />
			<ExperienceSection />
			<SkillsSection />
		</div>
	</div>
</main>