---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import { Icon } from 'astro-icon/components'
import "../styles/global.css";
---
<div class="bg-background w-full h-dvh">
	<main class=" pt-30">
		<div class="flex flex-row gap-20 w-min m-auto">
			<div class="w-xs p-7 h-min top-10 sticky rounded-xl bg-background-contrast flex flex-col gap-5 text-center">
				<div class="bg-amber-800 w-50 h-58 rounded-xl m-auto">

				</div>
				<h2 class="text-font-contrast-title text-2xl">Sergio Guanilo</h2>
				<p class="text-font-contrast-text">I specialize in Angular and Spring Boot, building scalable and accessible web applications</p>
			</div>

			<div class="flex flex-col gap-16 w-xl">
				<div class="flex flex-col gap-10">
					<div class="flex flex-col gap-5">
						<div>
							<h2 class="text-8xl font-bold">SOFTWARE</h2>
							<span class="text-8xl font-bold text-font-highlight">ENGINEER</span>
						</div>
						<div class="max-w-96">
							<p>Passionate about creating intuitive and engaging user experiences. Specialize in transforming ideas into beautifully crafted products.</p>
						</div>
					</div>

					<div class="flex gap-5">
						<div class="w-65 p-5 bg-gradient-to-r from-purple-600 to-purple-400 rounded-xl flex flex-col gap-3">
							<Icon name="mdi:github" class="text-4xl"/>
							<p class="text-xl font-semibold">Browse my repositories in Github</p>
							<Icon name="mdi:arrow-right-bold-box-outline" class="text-4xl ml-auto"/>
						</div>
						<div class="flex-1 p-5 bg-gradient-to-r from-blue-600 to-blue-400 rounded-xl flex flex-col gap-3">
							<Icon name="mdi:linkedin" class="text-4xl"/>
							<p class="text-xl font-semibold">Connect with me on LinkedIn</p>
							<Icon name="mdi:arrow-right-bold-box-outline" class="text-4xl ml-auto"/>
						</div>
					</div>
				</div>

				<div>
						<h2 class="text-8xl font-bold">RECENT</h2>
						<span class="text-8xl font-bold text-font-highlight">PROJECTS</span>
				</div>
			</div>
		</div>
	</main>
</div>